
@import '../../assets/theme.css';

.activity_space {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.divider {
  border-left: var(--divider-line)  solid var(--border-color);  /* thick line */
  height: 100%; 
  margin: 0 8px;  
}